[[ -f /etc/sysconfig/apnscp ]] && . /etc/sysconfig/apnscp
APNSCP_ROOT=${APNSCP_ROOT:-/usr/local/apnscp}
APNSCPCMD=${APNSCPCMD:-${APNSCP_ROOT}/bin/cmd}
MAKEFLAGS='-j{{ compile_max_jobs }}'
export MAKEFLAGS

alias upcp='[[ -d "$APNSCP_ROOT" ]] && env APNSCP_ROOT=${APNSCP_ROOT} {{ apnscp_build_helper }}'
alias cpcmd='apnscp_php "${APNSCP_ROOT}/bin/cmd"'
alias ntfy="ntfy -c /root/.argos.conf"

# Cleanup /home/virtual binds
df() {
	command df "$@" | grep -v " {{ apnscp_account_root }}"
}
mount() {
	command mount "$@" | grep -v " {{ apnscp_account_root }}"
}

# avoid blowing up /.socket or bind mounts
alias rm='rm -i --one-file-system'
alias htrebuild="/etc/systemd/user/httpd.init buildconfig && /etc/systemd/user/httpd.init reload"

function site_stats {
	if [ -z "$1" ] ; then
		CONSTRAINT="%"
	else
		CONSTRAINT=$1
	fi
	echo "select domain, ROUND(quota/1024./1024., 2)||' MB' as disk_quota, ROUND(threshold/1024./1024/1024,2)||' GB' as bw_quota FROM siteinfo JOIN bandwidth USING (site_id) JOIN diskquota USING (site_id) WHERE domain LIKE '$CONSTRAINT' OR email LIKE '$CONSTRAINT' ORDER BY domain" | psql -t appldb;
}

# Change account username
function change_username {
	$APNSCPCMD -d "$1" auth_change_username "$2"
}

# Change account domain
function change_domain {
	$APNSCPCMD -d "$1" auth_change_domain "$2"
}

# Assume an account gets compromised, provide
# an easy way to change the password for the user
# @TODO use chage or better yet integrate it
function change_password {
	$APNSCPCMD -d "$1" auth_change_username "$2"
}

# Generate a temporary password for a domain
# Used when gaining access to another account and
# without tripping the login/password reset notice
function temp_password {
	if [ $# -ne 1 ] ; then
		echo "usage: $0 <domain>"
		return 1
	fi
	adminuser="$($APNSCPCMD admin_get_meta_from_domain "$1" siteinfo admin_user)"
	newpass="$($APNSCPCMD auth_set_temp_password "$1")"
	echo "$adminuser -> $newpass"
}

function get_config {
	local DOMAIN=$1
	local CLASS=$2
	local PARAM=$3
	if [ -z "$PARAM" ] ; then
		>&2 echo "usage: get_config domain svc_class svc_param"
		return 255
	fi
	SITE=$(get_site "$DOMAIN")
	if [[ -z "$SITE" || ! -d /home/virtual/$SITE/info ]]; then
		echo "Invalid domain $DOMAIN"
		return 1
	fi
	if [ ! -f "/home/virtual/$SITE/info/current/$CLASS" ] ; then
		echo "Service class $CLASS does not exist"
		return 1
	fi
	set -f +B  VAL
	VAL=$(perl -n  -e 'if (/^'"$PARAM"'\s*=/) { s/['\'']//g ;  s/^\s*'"$PARAM"'\s*=\s*//g ;  print; exit ; }' <  "/home/virtual/$SITE/info/current/$CLASS")
	STATUS=$?
	if [ $STATUS -ne 0 ]; then
		echo "Param $PARAM does not exist";
		return 1;
	fi;
	echo "$VAL"
	set +f
	return 0
}

# Get siteXX from domain
function get_site {
	local DOMAIN=$1
	if [[ ! "$DOMAIN" =~ ^site[[:digit:]]+$ ]] ; then
		DOMAIN=$(tcamgr  get /etc/virtualhosting/mappings/domainmap.tch "$DOMAIN" 2> /dev/null)
		STATUS=$?
		[[ $STATUS -ne 0 ]] && return $STATUS
	fi
	echo "$DOMAIN"
	return
}

# Get numeric site identifier from site
function get_site_id {
	var=$(get_site "$1")
	echo "${var#site}"
}

# Match mail queue on term and remove
# You shouldn't need this, but nice to have
function rmspam {
	SPOOL=/var/spool/postfix
	EMAIL=$1
	CNT=0
	grep -rsl "$EMAIL" $SPOOL/active/ $SPOOL/bounce/ $SPOOL/deferred/ $SPOOL/incoming/ | \
		{  while read -r ID ; do
				ID=${ID##*/}
				((CNT++))
				postsuper -d "$ID" 2> /dev/null
			done
			echo "Removed $CNT messages"
		}
}

# Look for binaries under a directory for missing libraries
# Useful when building up new filesystem services
function bintrospect {
	BIN=$1
	ldd "$BIN"  | awk '{print $3}'  | grep '^/' | while read -r lib ; do
		[ -f "$lib" ] || continue
		strings "$lib" | grep -E '^[A-Z_]+$'
	done | sort | uniq
}

{% if helpers_colorify_man %}
man() {
	env \
		LESS_TERMCAP_mb=$(printf "\e[1;31m") \
		LESS_TERMCAP_md=$(printf "\e[1;31m") \
		LESS_TERMCAP_me=$(printf "\e[0m") \
		LESS_TERMCAP_se=$(printf "\e[0m") \
		LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
		LESS_TERMCAP_ue=$(printf "\e[0m") \
		LESS_TERMCAP_us=$(printf "\e[1;32m") \
		man "$@"
}
{% endif %}

{% if helpers_use_su %}
# Simplify user switching
function su {
	if test $# -lt 1 ; then
	  command su "$@"
	  return
	fi

	local DOMAIN=${!#}
	local USER
	getent passwd "$DOMAIN" > /dev/null
	STATUS=$?
	if ( ! test $STATUS -eq 0 && get_site "$DOMAIN" ) > /dev/null; then
	  USER="$(get_config "$DOMAIN" siteinfo admin_user)"
	  STATUS=$?
	  if [[ "$DOMAIN" =~ ^site[[:digit:]]+$ ]]; then
            DOMAIN="$(get_config "$DOMAIN" siteinfo domain)"
	  fi
	  if test $STATUS -eq 0; then
	    set -- "${@:1:$(($#-1))}"
	    command su "$@" "${USER}@${DOMAIN}"
	    return
	  fi
	fi

	command su "$@"

}
{% endif %}
