<div id="terminal-container" class="pt-3">
	<iframe height="100vh" style="height: 100vh; display: block; border: 0 none; min-height:600px; " id="terminal"
	        src="/apps/rspamd/admin/"
	        width="100%" ></iframe>
</div>