#add-backup li {
	height: 20px;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

#add-backup .left {
	display: block;
	float: left;
	clear: left;
}

#add-backup .right {
	float: left;
	clear: right;
	display: block;
}