# MariaDB {{ mariadb_version | default(mariadb.default) }} CentOS repository list
# http://downloads.mariadb.org/mariadb/repositories/
[mariadb]
name = MariaDB
baseurl = http://yum.mariadb.org/{{mariadb_version | default(mariadb.default)}}/{{ (ansible_distribution == 'RedHat') | ternary('RHEL', 'centos') | lower }}{{ansible_distribution_major_version|int }}-amd64
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck=1
