
#storage-data td {
	vertical-align: middle;
}

#storagegraph {
	width: 100%;
	height: 275px;
	display: block;
	float: right;
}

#storagelegend {
	width: 200px;
	display: block;
	float: right;
	margin: 0.5em auto;
	border: 1px solid #ccc;
}

#storagelegend td {
	padding: 0 3px;
}

/** via flot.js */
.pieLabelBackground {
	border-radius: 5px;
}

.graph-label {
	color: #fff;
	padding: 3px;

}

.no-data {
	padding: 2em 0;
	margin: 0 auto;
}

.legend {
	top: 0;
	left: 0;
	display: block;
}

.no-data span {
	margin: 0 auto;
	display: inline-block;
}

.storage-data > li {
	display: inline-block;
	width: 100%;
}

.storage-data > li.heading {
	padding: 0;
}

.storage-data .heading > ul > li {
	padding-bottom: 0;
	vertical-align: middle;
}

.storage-data li {
	list-style: none;
	display: block;
	min-height: 25px;
	float: left;
	padding: 3px;
}

.storage-major li {
	padding: 0;
}

.storage-item li {
	color: #666;
	min-height: 16px;
	font-size: 0.9em;
}

.storage-item .storage-used:after,
.storage-total .storage-used:after {
	content: " MB";
}

.key {
	height: 1em;
	width: 1em;
	border: 3px solid gray;
	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;

}

.user {
	width: 100px;
}

.ext-info {
	width: 160px;
}

.storage > ul > li {
	margin: 0;
}

.storage-item .user {
	margin-left: -26px;
}

.storage-used, .files-used, .percentage {
	text-align: right;
}

li.total-sep {
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	background: #f1f1f1;
	height: 1px !important;
	min-height: 0;
	margin: 0.5em 0;
}

.storage-total li {
	font-weight: bold;
	color: #343434;
}

.storage-major li {
	width: 100%;
}

.storage-major > ul li h4 {
	margin: 0;
	padding: 0;
}

.apache:after, .apache-note:before {
	color: red;
	font-size: smaller;
	content: '*';
}

.apache-note {
	font-size: smaller;
	display: block;
	clear: both;
}