###############################################################################################
# ,------.   ,-----. ,--.  ,--.,--.,--------.    ,--------. ,-----. ,--. ,--. ,-----.,--.  ,--.
# |  .-.  \ '  .-.  '|  ,'.|  ||  |'--.  .--'    '--.  .--''  .-.  '|  | |  |'  .--./|  '--'  |
# |  |  \  :|  | |  ||  |' '  |`-'    |  |          |  |   |  | |  ||  | |  ||  |    |  .--.  |
# |  '--'  /'  '-'  '|  | `   |       |  |          |  |   '  '-'  ''  '-'  ''  '--'\|  |  |  |
# `-------'  `-----' `--'  `--'       `--'          `--'    `-----'  `-----'  `-----'`--'  `--'
###############################################################################################
####             ALL CHANGES SHOULD BE MADE TO /etc/dovecot/conf.d/local.conf              ####
###############################################################################################

protocols = imap pop3
verbose_proctitle = yes

disable_plaintext_auth = no
# Pull for now, random userdb problems still noted
auth_cache_size = 512k
auth_cache_negative_ttl = 0
auth_username_format = "%Lu"
auth_mechanisms = plain login
auth_worker_max_count = {{ [(ansible_facts['processor_vcpus'] | int), 4] | min}}
valid_chroot_dirs = /home
default_login_user = dovecot
ssl_verify_client_cert = no

ssl = {{ dovecot_strict_ssl | ternary("required", "yes") }}
{% if dovecot_version is version('2.3', '>') and haproxy_enabled %}
login_trusted_networks = 127.0.0.1
{% endif %}
{% if not haproxy_enabled %}
listen = {% if has_ipv4 %}*{% endif %} {%if has_ipv6 %}[::]{% endif %}
{% else %}
haproxy_trusted_networks = 127.0.0.1
listen = {% if has_ipv4 %}127.0.0.1{% else %}[::1]{% endif %}
{% endif %}

mailbox_list_index = yes
{% if dovecot_version is version('2.3', '<') %}
ssl_protocols = {% if ansible_distribution_major_version == '7' %}!SSLv2 {% endif %}!SSLv3 {% if not dovecot_insecure_ssl %}!TLSv1 !TLSv1.1 {% endif %}
{% else %}
ssl_min_protocol = {% if dovecot_insecure_ssl %} SSLv3 {% else %} TLSv1.2 {% endif %}
{% endif %}

service director {
  unix_listener login/director {
  }
  fifo_listener login/proxy-notify {
  }
  unix_listener director-userdb {
  }
  inet_listener {
  }
}

{% if dovecot_use_hibernate %}
imap_hibernate_timeout = {{ dovecot_hibernation_timeout }}

service imap {
  # Note that this change will allow any process running as
  # $default_internal_user (dovecot) to access mails as any other user.
  # This may be insecure in some installations, which is why this isn't
  # done by default.
  unix_listener imap-master {
    user = $default_internal_user
  }
}

# The following is the default already in v2.3.1+:
service imap {
  extra_groups = {{ dovecot_group }}
}
service imap-hibernate {
  unix_listener {{ dovecot_shared_root }}/run/imap-hibernate {
    mode = 0660
    group = {{ dovecot_group }}
  }
}
{% endif %}

service indexer {
  unix_listener {{ dovecot_shared_root }}/run/indexer {
    group = {{ dovecot_group }}
    mode = 0660
  }
}

passdb {
  driver = pam
  # Session is necessary to restore root after verification
  # Use imap/pop3/smtp granular authentication handling
  args = cache_key=%u%r|%s session=yes max_requests={{ apnscp_debug | bool | ternary(512, 1) }} %s
}

userdb {
  driver = apnscp
  args = blocking=yes
}
service managesieve {
}

service imap-login {
  inet_listener imap {
    {% if haproxy_enabled %}
    port = {{ haproxy_imap_proxied_port }}
    haproxy = yes
    {% endif %}
  }
  inet_listener imaps {
  {% if haproxy_enabled %}
    port = 0
  {% endif %}
  }
  service_count = {{ dovecot_secure_mode | bool | ternary("1", "0") }}
}

mail_plugins = {{ dovecot_mail_plugins | join(" ") }}

protocol imap {
  mail_max_userip_connections = {{ dovecot_imap_max_connections }}
  mail_plugins = {{ dovecot_imap_plugins | join(" ") }}
  imap_logout_format = bytes=%i/%o
}

service imap {
  vsz_limit = {{ dovecot_per_process_limit }}
}

service pop3 {
  vsz_limit = {{ dovecot_per_process_limit }}
}

service pop3-login {
  inet_listener pop3 {
    {% if haproxy_enabled %}
    port = {{ haproxy_pop3_proxied_port }}
    haproxy = yes
    {% endif %}
  }
  inet_listener pop3s {
  {% if haproxy_enabled %}
    port = 0
  {% endif %}
  }
  service_count = {{ dovecot_secure_mode | bool | ternary("1", "0") }}
}

protocol pop3 {
  pop3_fast_size_lookups = yes
  pop3_uidl_format = %f
  pop3_logout_format = top=%t/%p, retr=%r/%b, del=%d/%m, size=%s, bytes=%i/%o
}

mbox_write_locks = fcntl

ssl_cert = </etc/pki/tls/certs/server.pem
ssl_key = </etc/pki/tls/certs/server.pem
ssl_prefer_server_ciphers = yes
ssl_cipher_list = {{ dovecot_cipher_list }}

namespace {
  type = private
  separator = .
  prefix = {{ dovecot_imap_root }}
  inbox = yes
  hidden = no
  list = yes
  subscriptions = yes

  {{ dovecot_mailbox_template }}
}

mail_location = maildir:%h/Mail{% if dovecot_utf8_mailboxes %}:UTF-8{% endif %}

mail_fsync =  optimized
lock_method = fcntl
maildir_copy_with_hardlinks = yes
#maildir_very_dirty_syncs = yes

namespace {
  type = shared
  separator = .
  prefix = shared.%%u.
  location = maildir:%%h/Mail:INDEX=~/Mail/shared.%%u
  subscriptions = no
  list = children
}

service auth {
  unix_listener auth-userdb {
  }
  unix_listener {{ postfix_auth_socket }} {
    mode = 0660
    user = {{ postfix_sysuser }}
    group = {{ postfix_sysgroup }}
  }
  user = root
}
service auth-worker {
  user = root
}
service dict {
  unix_listener dict {
  }
}

plugin {
  acl=vfile
}
plugin {
  fts = lucene
  fts_lucene = whitespace_chars=@.
}

plugin {
  quota2 = fs:Account:group
  quota = fs:User:user
}

plugin {
  sieve_plugins = sieve_imapsieve sieve_extprograms

  imapsieve_mailbox1_name = {{ dovecot_learn_spam_folder }}
  imapsieve_mailbox1_causes = COPY
  imapsieve_mailbox1_before = file:{{ dovecot_sieve_bindir }}/report-spam.sieve

  imapsieve_mailbox2_name = *
  imapsieve_mailbox2_from = {{ dovecot_learn_ham_folder }}
  imapsieve_mailbox2_causes = COPY
  imapsieve_mailbox2_before = file:{{ dovecot_sieve_bindir }}/report-ham.sieve

  sieve_execute_bin_dir = {{ dovecot_sieve_bindir }}
  sieve_pipe_bin_dir = {{ dovecot_sieve_bindir }}

  sieve_editheader_max_header_size = 1k
  sieve_global_extensions = +vnd.dovecot.execute +vnd.dovecot.pipe +vnd.dovecot.environment +editheader
}

{% if dovecot_enable_stats or dovecot_version is version('2.3', '>=') %}

service stats {
  fifo_listener {{ dovecot_shared_root }}/run/stats-mail {
    user = dovecot
    mode = 0666
  }
}

plugin {
  # how often to session statistics (must be set)
  stats_refresh = 30 secs
  # track per-IMAP command statistics (optional)
  stats_track_cmds = yes
}

{% endif %}

{% if dovecot_enable_zlib_storage and dovecot_enable_zlib %}
plugin {
  zlib_save_level = {{ dovecot_zlib_compression_level | int }}
  zlib_save = {{ dovecot_zlib_compression_handler }}
}
{% endif %}

{% if dovecot_quota_warnings %}
plugin {
  {% for quota in dovecot_quota_warnings | sort %}
  quota_warning{{ loop.index }} = storage={{ quota }}% quota-warning {{ quota }} %u %d
  {% endfor %}
}

service quota-warning {
  executable = script {{ dovecot_bindir }}/quota-warning.sh
  user = mail
  unix_listener {{ dovecot_shared_root }}/run/quota-warning {
    user = mail
    mode=0666
  }
}

{% endif %}
