* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

img {
    max-width: 100%;
}
html {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    width: 100% !important;
    height: 100%;
    line-height: 1.6;
}

@media only screen and (max-width: 480px) {
	.emailImage {
		height: auto !important;
		max-width: 600px !important;
		width: 100% !important;
	}
}

table {
    width: 100%;
}

/* Let's make sure all tables have defaults */
table td {
    vertical-align: top;
}

body, .body-wrap {
    background-color: #f6f6f6;

}
.body-wrap {
    width: 100%;
}

.container {
    display: block !important;
    max-width: 600px !important;
    margin: 0 auto !important;
    clear: both !important;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.main {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
}

.content-wrap {
    padding: 20px;
}

.content-block {
    padding: 0;
}

.header {
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    clear: both;
    color: #999 !important;
    padding: 20px;
}

.footer a {
    color: #999;
}

.footer p, .footer a, .footer unsubscribe, .footer td {
    font-size: 12px;
}

.column-left {
    float: left;
    width: 50%;
}

.column-right {
    float: left;
    width: 50%;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    margin: 0 0 10px;
    line-height: 1.2;
    font-weight: 400;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
    font-weight: 600;
}

p, ul, ol {
    margin-bottom: 10px;
    font-weight: normal;
}

p li, ul li, ol li {
    margin-left: 5px;
    list-style-position: inside;
}

a {
    color: #348eda;
    text-decoration: underline;
}

.btn-primary {
    text-decoration: none;
    color: #FFF;
    background-color: #169a84;
    border: solid #117967;
    border-width: 10px 20px;
    line-height: 2;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    text-transform: capitalize;
}

.last {
    margin-bottom: 0;
}

.first {
    margin-top: 0;
}

.padding {
    padding: 10px 0;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
}

.clear {
    clear: both;
}

.alert {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
}

.alert a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.alert.alert-warning {
    background: #ff9f00;
}

.alert.alert-bad {
    background: #d0021b;
}

.alert.alert-good {
    background: #68b90f;
}

.alert.alert-info {
    background: #9d9d9d;
}

@media only screen and (max-width: 640px) {
    h2, h3, h4 {
        font-weight: 600 !important;
        margin: 20px 0 5px !important;
    }

    h1 {
        font-size: 22px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    .container {
        width: 100% !important;
    }

    .content, .content-wrapper {
        padding: 10px !important;
    }

    .invoice {
        width: 100% !important;
    }
}

ul.inline {
    list-style-type: none;
}

ul.inline li {
    display: inline-block;
    padding: 0.2em 1em;
    margin-left: -1em;
}

.context {
    color: #999;
}